.heroText {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: 3.5rem;
  font-weight: 700;

  color: white;

  position: relative;
}

.pointYellow {
  color: #eecc6e;
}
.pointRed {
  color: #d25633;
}
.pointPurple {
  color: #8e82cc;
}

.introLine {
  margin: 0;
  line-height: 1.2;
  opacity: 0;
}

.startIntro .introLine {
  animation: showUp 600ms ease forwards;
}

@keyframes showUp {
  to {
    opacity: 1;
  }
}

.delay1 {
  animation-delay: 0ms;
}
.delay2 {
  animation-delay: 200ms;
}
.delay3 {
  animation-delay: 400ms;
}
.delay4 {
  animation-delay: 600ms;
}

/* 반응형 레이아웃*/

// 테블릿 이하
@media (max-width: 1024px) {
  .heroText {
    font-size: 3rem;
  }

  .introLine {
    line-height: 1.15;
  }
}

/* 모바일 */

@media (max-width: 768px) {
  .heroText {
    font-size: 2.5rem;
    padding: 0 20px; /* 좌우 여백 확보 */
    text-align: center;
  }

  .introLine {
    line-height: 1.2;
  }
}
/* 작은 모바일 */

/* 작은 모바일 */
@media (max-width: 480px) {
  .heroText {
    font-size: 1.8rem;
    padding: 0 16px;
  }
}
