.work {
  width: 100%;
  max-width: 1300px;

  padding: 90px 40px;
  margin: 90px auto 0;
}

.titleArea {
  display: flex;
  align-items: center;

  gap: 1.5rem;

  .title {
    display: inline-block;
    background: #8a7fc4;
    color: white;

    font-size: 1.75rem;
    line-height: 1.75rem;
    font-weight: 700;

    padding: 1rem 1.2rem 0.8rem;
    border-radius: 50px;
  }

  .desc {
    margin: 0;
    padding-top: 0.3rem;

    font-size: 1rem;
    font-weight: 300;

    span {
      display: inline;
      background: linear-gradient(
        transparent 50%,
        rgba(142, 130, 204, 0.29) 50%
      );
    }
  }
}

.body {
  display: flex;
  flex-direction: column;

  margin-top: 5rem;
  align-items: center;
}

.workCard {
  display: flex;

  gap: 5rem;

  .header {
    display: flex;
    flex-direction: column;
    align-items: self-start;
    justify-content: center;
    gap: 2rem;

    .ImgCard {
      display: flex;
      align-items: center;
      justify-content: center;

      border: 1px solid #404040;
      border-radius: 20px;
      background: #ffffff;

      width: 200px;
      height: 150px;

      img {
        width: 150px;
        height: 70px;
      }
    }

    .companyInfo {
      display: flex;
      flex-direction: column;

      .company {
        font-size: 1.5rem;
        line-height: 1.5rem;

        margin: 12px 0;
      }

      .period {
        font-weight: 300;
        margin: 0;
        padding: 0;
      }

      .role {
        font-weight: 300;
        margin: 5px 0;
        padding: 0;
      }
    }
  }

  .sections {
    display: flex;
    flex-direction: column;

    margin-left: 1.5rem;

    .sectionTitle {
      color: #8e82cc;
      font-size: 1.2rem;
      line-height: 1.2rem;
      font-weight: 500;

      border-left: 3px solid #8e82cc;
      padding: 0.35rem 0 0 1rem;
    }

    .list {
      font-weight: 300;
      list-style: none;
      padding-left: 1.5rem;

      .item {
        position: relative;
        margin-bottom: 0.8rem;
        padding-left: 1.2rem; // 점 + 여백 확보

        font-size: 1.1rem;
        line-height: 1.6;

        &::before {
          content: "";
          position: absolute;
          left: 0;
          top: 0.55rem;

          width: 8px;
          height: 8px;
          border-radius: 50%;
          background-color: #404040;
        }
      }
    }
  }
}
