.cardWrap {
  position: relative;
}

.shadowLayer {
  position: absolute;
  inset: 0;

  background: #404040;
  border-radius: 30px;

  opacity: 0;

  transition: opacity 300ms ease-in-out;

  z-index: 0;
}

.card {
  position: relative;

  border: 1px solid #404040;
  background: #fbfaff;
  border-radius: 30px;

  padding: 2rem;

  cursor: pointer;

  transition: transform 300ms ease-in-out;

  z-index: 1;

  &:hover {
    transform: translate(-10px, -10px);
  }

  .links {
    position: absolute;
    top: -20px;
    right: 20px;

    display: flex;
    gap: 0.8rem;

    .link {
      background-color: #fbfaff;
      width: 35px;
      height: 35px;
      border-radius: 50%;

      img {
        width: 35px;
        height: 35px;
      }
    }
  }

  .header {
    display: flex;
    align-items: center;
    gap: 1.5rem;

    .thumbnail {
      img {
        width: 100px;
        height: 100px;
      }
    }

    .headText {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      h3 {
        font-size: 1.5rem;
        line-height: 1.6rem;
        font-weight: 700;

        margin: 0;
      }

      p {
        margin: 0;
        font-size: 1rem;
        line-height: 1.1rem;
        font-weight: 300;
      }
    }
  }

  .info {
    display: flex;
    flex-direction: column;

    gap: 1.2rem;

    font-size: 1rem;
    line-height: 1.1rem;
    font-weight: 300;
    color: #404040;

    margin-top: 1.5rem;
  }
}

.row {
  display: grid;
  grid-template-columns: 90px 1fr;

  .value {
    padding-left: 0.2rem;
  }

  .role {
    padding: 0.4rem 0.8rem 0.2em;
    border-radius: 20px;
  }
}

.techs {
  display: flex;
  align-items: center;

  gap: 0.5rem;

  margin-top: 2rem;

  .techIcon {
    width: 30px;
    height: 30px;

    border-radius: 10px;
  }
}

.btn {
  position: absolute;

  right: 20px;
  bottom: 30px;
  border: none;
  border-radius: 999px;

  background: #404040;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 700;

  padding: 0.2rem 0.8rem 0.3rem;

  opacity: 0;
  transition: opacity 300ms ease-in-out;

  pointer-events: none;
}

.cardWrap:hover .shadowLayer {
  opacity: 1;
}

.cardWrap:hover .btn {
  opacity: 1;
  pointer-events: auto;
}

/* 반응형 레이아웃*/

/* 태블릿 이하 */
@media (max-width: 1024px) {
  .card {
    .header {
      .thumbnail {
        img {
          width: 70px;
          height: 70px;
        }
      }

      .headText {
        h3 {
          font-size: 1.3rem;
          line-height: 1.3rem;
        }

        p {
          font-size: 0.9rem;
        }
      }
    }

    .info {
      font-size: 0.8rem;
      line-height: 1rem;
    }
  }

  .techs {
    gap: 0.3rem;

    .techIcon {
      width: 27px;
      height: 27px;
    }
  }
}

/* 모바일 */
@media (max-width: 768px) {
  .card {
    padding: 2rem 1.2rem 1.2rem 2rem;
  }

  .btn {
    position: static;
    margin-top: 1.5rem;

    opacity: 1;
    pointer-events: auto;

    margin-left: auto;
    display: block;
  }

  .row {
    .role {
      padding: 0.4rem 0.8rem 0.2em;
      border-radius: 20px;
    }
  }
}

/* 작은 모바일 */
@media (max-width: 480px) {
  .card {
    .header {
      .thumbnail {
        img {
          width: 65px;
          height: 65px;
        }
      }

      .headText {
        h3 {
          font-size: 1.2rem;
          line-height: 1.2rem;
        }
      }
    }
  }

  .techs {
    .techIcon {
      width: 25px;
      height: 25px;
    }
  }
}
