.skills {
  width: 100%;
  max-width: 1300px;

  padding: 90px 40px;
  margin: 90px auto 0;
}

.titleArea {
  display: flex;
  align-items: center;

  gap: 1.5rem;

  .title {
    display: inline-block;
    background: #8a7fc4;
    color: white;

    font-size: 1.75rem;
    line-height: 1.75rem;
    font-weight: 700;

    padding: 1rem 1.2rem 0.8rem;
    border-radius: 50px;

    white-space: nowrap;
    flex-shrink: 0;
  }

  .desc {
    margin: 0;
    padding-top: 0.3rem;

    font-size: 1rem;
    font-weight: 300;

    span {
      display: inline;
      background: linear-gradient(
        transparent 50%,
        rgba(142, 130, 204, 0.29) 50%
      );
    }
  }
}

.body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  gap: clamp(10px, 10vw, 50px);
  margin-top: 2rem;

  .skillCard {
    display: flex;
    flex-direction: column;

    .skillTitle {
      color: #8e82cc;
      font-size: 1.4rem;
      line-height: 1.4rem;
      font-weight: 500;

      border-left: 4px solid #8e82cc;
      padding: 0.35rem 0 0 1rem;
    }

    .skillArea {
      border: 2px solid #8e82cc;
      border-radius: 30px;
      padding: 1.2rem;

      display: flex;
      flex-wrap: wrap;
      gap: 0.3rem;

      .skill {
        color: white;

        padding: 0.3rem 0.5rem;
        border-radius: 10px;
      }
    }
  }
}

/* 반응형 레이아웃*/

/* 태블릿 이하 */
@media (max-width: 1024px) {
  .skills {
    padding: 80px 40px;
    margin: 60px auto 0;

    .titleArea {
      .title {
        font-size: 1.65rem;
        line-height: 1.65rem;
        padding: 0.9rem 1.1rem 0.75rem;
      }
    }
  }
}

/* 모바일 */
@media (max-width: 768px) {
  .skills {
    padding: 65px 40px;
    margin: 40px auto 0;

    .titleArea {
      .title {
        font-size: 1.5rem;
        line-height: 1.5rem;
        padding: 0.75rem 1rem 0.6rem;
      }
    }

    .body {
      grid-template-columns: repeat(2, 1fr);
      gap: 28px;

      .skillCard {
        .skillTitle {
          font-size: 1.2rem;
          line-height: 1.2rem;
        }
      }
    }
  }
}

/* 작은 모바일 */
@media (max-width: 480px) {
  .skills {
    padding: 50px 25px;
    margin: 20px auto 0;

    .titleArea {
      margin-top: 15px;
      gap: 1rem;
      .title {
        font-size: 1.3rem;
        line-height: 1.3rem;
        padding: 0.7rem 0.9rem 0.5rem;
      }

      .desc {
        font-size: 0.8rem;
      }
    }

    .body {
      grid-template-columns: repeat(1, 1fr);
      gap: 25px;

      .skillCard {
        .skillTitle {
          font-size: 1.2rem;
          line-height: 1.2rem;
        }
      }
    }
  }
}
