.overlay {
  width: 100%;

  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.25);

  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background: white;
  border: 2px solid #404040;
  border-radius: 20px;

  width: 90%;
  max-width: 800px;

  padding: 30px 35px;
}

.header {
  margin-bottom: 0.8rem;

  .track {
    display: flex;

    align-items: center;
    gap: 1rem;

    .icon {
      width: 50px;
      height: 50px;

      img {
        width: 50px;
        height: 50px;
      }
    }

    .line {
      position: relative;
      flex: 1;
      height: 18px;

      .dots {
        display: block;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);

        width: 0;
        height: 18px;
        overflow: hidden;

        background-image: radial-gradient(circle, #d9d9d9 4px, transparent 4px);
        background-size: 24px 18px;
        background-repeat: repeat-x;
        background-position: 0 50%;

        animation: trailGrow 5s linear infinite;
      }

      .rocket {
        position: absolute;

        width: 40px;
        height: 40px;

        top: 50%;
        transform: translateY(-50%);
        left: 0;

        animation: fly 5s linear infinite;
      }
    }
  }
}

.body {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 30px;

  font-size: 1rem;
  font-weight: 300;
  line-height: 1.7;

  p {
    margin: 0;
  }

  .pointPurple {
    color: #8e82cc;
    font-weight: 500;
  }

  .pointRed {
    color: #d25633;
    font-weight: 500;
  }
}

.closeBtn {
  border: none;
  cursor: pointer;

  font-size: 1rem;
  font-weight: 700;
  color: white;
  background: #404040;

  padding: 10px 50px;

  border-radius: 50px;
  letter-spacing: 0.15em;

  display: block;
  margin: 0 auto;
}

@keyframes fly {
  from {
    left: 0;
  }

  to {
    left: calc(100% - 40px);
  }
}

@keyframes trailGrow {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

/* 반응형 레이아웃*/

/* 태블릿 이하 */
@media (max-width: 1024px) {
  .modal {
    width: 90%;
    max-width: 720px;
  }
}

/* 모바일 */
@media (max-width: 768px) {
  .modal {
    width: 90%;
    max-width: 600px;
  }
}

/* 작은 모바일 */
@media (max-width: 480px) {
  .modal {
    width: 90%;
    max-width: 350px;
  }
}
