.education {
  width: 100%;
  max-width: 1300px;

  padding: 90px 40px;
  margin: 90px auto 0;
}

.titleArea {
  display: flex;
  align-items: center;

  gap: 1.5rem;

  .title {
    display: inline-block;
    background: #8a7fc4;
    color: white;

    font-size: 1.75rem;
    line-height: 1.75rem;
    font-weight: 700;

    padding: 1rem 1.2rem 0.8rem;
    border-radius: 50px;

    white-space: nowrap;
    flex-shrink: 0;
  }

  .desc {
    margin: 0;
    padding-top: 0.3rem;

    font-size: 1rem;
    font-weight: 300;

    span {
      display: inline;
      background: linear-gradient(
        transparent 50%,
        rgba(142, 130, 204, 0.29) 50%
      );
    }
  }
}

.layout {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 28px;

  align-items: start;

  margin-top: 5rem;

  .body {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1000px;

    margin: 0 auto;

    .yearGroup {
      display: grid;
      grid-template-columns: 90px 36px 1fr;
      column-gap: 28px;
      align-items: stretch;

      .year {
        font-size: 1.5rem;
        line-height: 1.5rem;
        font-weight: 500;
        color: #8e82cc;

        margin-top: 0.5rem;

        display: flex;
        justify-content: flex-end;
      }

      .lineDot {
        display: flex;
        flex-direction: column;

        position: relative;
        width: 36px;

        .dot {
          position: absolute;
          top: 0px;
          left: 50%;

          width: 35px;
          height: 35px;
          transform: translateX(-50%);
          border-radius: 50%;

          background: #fbfaff;
          border: 5px solid #8a7fc4;
          z-index: 2;
        }

        .line {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 50%;

          width: 5px;
          transform: translateX(-50%);
          background: #8e82cc;
        }
      }

      .items {
        display: flex;
        flex-direction: column;

        gap: 2rem;
        margin-bottom: 3rem;

        .item {
          display: flex;
          flex-direction: column;
          align-items: self-start;

          .date {
            margin: 0.7rem 0 0.5rem;

            font-size: 1rem;
            line-height: 1rem;
            font-weight: 300;
          }

          .itemDesc {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            justify-content: center;
            gap: 0.5rem;

            .title {
              font-size: 1.1rem;
              line-height: 1.5rem;
              font-weight: 500;
              margin: 0.3rem 0 0;
            }

            .moreBtn {
              border: 2px solid #727171;
              border-radius: 30px;

              padding: 0.05rem 0.8rem;

              background-color: #fbfaff;
              color: #727171;

              font-size: 1rem;
              font-weight: 500;

              text-align: center;
              cursor: pointer;
            }
          }
        }
      }
    }

    .yearGroup:last-child {
      .line {
        display: none;
      }
    }
  }

  .sidePanel {
    overflow: hidden;
    min-width: 0;

    width: 520px;
    max-width: 0;

    opacity: 0;
    transform: translateX(12px);
    transition: max-width 300ms ease, opacity 300ms ease, transform 300ms ease;
    pointer-events: none;
  }
}

.timelineArea {
  min-width: 0;
}

.isModalOpen {
  .sidePanel {
    max-width: 520px;
    opacity: 1;
    transform: translateX(0);
    pointer-events: auto;
  }
}

/* 반응형 레이아웃*/

/* 태블릿 이하 */
@media (max-width: 1024px) {
  .education {
    padding: 80px 40px;
    margin: 60px auto 0;

    .titleArea {
      .title {
        font-size: 1.65rem;
        line-height: 1.65rem;
        padding: 0.9rem 1.1rem 0.75rem;
      }
    }
  }

  .layout {
    grid-template-columns: 1fr;
    position: relative;

    .sidePanel {
      display: block;
      width: 100%;
      max-width: none;

      opacity: 0;
      transform: translateY(12px);
      transition: opacity 250ms ease, transform 250ms ease;

      pointer-events: none;

      position: fixed;
      inset: 0;
      z-index: 50;

      background: rgba(0, 0, 0, 0.25);

      /* 카드 중앙 정렬 */
      display: flex;
      align-items: center;
      justify-content: center;

      padding: 16px;
    }
  }

  .isModalOpen {
    .sidePanel {
      opacity: 1;
      transform: translateY(0);
      pointer-events: auto;
    }
  }
}

/* 모바일 */
@media (max-width: 768px) {
  .education {
    padding: 65px 40px;
    margin: 40px auto 0;

    .titleArea {
      .title {
        font-size: 1.5rem;
        line-height: 1.5rem;
        padding: 0.75rem 1rem 0.6rem;
        margin-top: 15px;
      }
    }
  }
}

/* 작은 모바일 */
@media (max-width: 480px) {
  .education {
    padding: 50px 25px;
    margin: 20px auto 0;

    .titleArea {
      gap: 1rem;

      .title {
        font-size: 1.3rem;
        line-height: 1.3rem;
        padding: 0.7rem 0.9rem 0.5rem;
      }

      .desc {
        font-size: 1rem;
      }
    }
  }

  .sidePanel {
    padding: 12px;
  }
}
